<div class="background-wrapper" id="background">
</div>
<div class="content">
  <div class="vertical-align"></div>
  <div class="content-wrapper">
    <div class="profile" id="profile">
    </div>

    <h1>Ben Hoad</h1>
    <h2>UX Designer and Developer</h2>
    <a href="https://twitter.com/benhoad">
      <div class="square twitter">
        <div class="vertical-align"></div>
        <%= image_tag("twitter.svg") %>
      </div>
    </a>

    <a href="http://instagram.com/ben_hoad">
      <div class="square instagram">
        <div class="vertical-align"></div>
        <%= image_tag("instagram.svg") %>
      </div>
    </a>

    <a href="http://ngutechnology.com.au/">
      <div class="square ngu">
        <div class="vertical-align"></div>
        <%= image_tag("work.svg") %>
      </div>
    </a>

  </div>
</div>
