// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300);

@-webkit-keyframes appear {
  0%   	{ -webkit-transform: scale(0,0); }
  100%	{ -webkit-transform: scale(1,1); }
}
@-moz-keyframes appear {
0%   	{ -moz-transform: scale(0,0); }
100%	{ -moz-transform: scale(1,1); }
}
@-o-keyframes appear {
0%   	{ -o-transform: scale(0,0); }
100%	{ -o-transform: scale(1,1); }
}
@keyframes appear {
0%   	{ transform: scale(0,0); }
100%	{ transform: scale(1,1); }
}

@-webkit-keyframes appearrotate {
  0%   	{ -webkit-transform: scale(0,0) rotate(0deg);}
  100%	{ -webkit-transform: scale(1,1) rotate(-5deg); }
}
@-moz-keyframes appearrotate {
0%   	{ -moz-transform: scale(0,0) rotate(0deg); }
100%	{ -moz-transform: scale(1,1)rotate(-5deg); }
}
@-o-keyframes appearrotate {
0%   	{ -o-transform: scale(0,0) rotate(0deg); }
100%	{ -o-transform: scale(1,1)rotate(-5deg); }
}
@keyframes appearrotate {
0%   	{ transform: scale(0,0) rotate(0deg); }
100%	{ transform: scale(1,1)rotate(-5deg); }
}

body{

}

*{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -ms-touch-action:none;
  -webkit-tap-highlight-color:transparent;
  font-family: 'Lato', sans-serif;
  font-weight:100;
}

.background-wrapper {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
  background:image-url('Chicago.gif');
  background-position: 50% 50%;
  background-size: cover;




}

a{
  text-decoration:none;
}

.content{
  text-align:center;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
}

.square{
  display:inline-block;
  width:80px;
  height:80px;
  margin:2px;
  margin:5px;

  transition:all 0.1s  ease-out;
  -webkit-animation: appear 0.5s 1 ease-out; /* Safari 4+ */
	-moz-animation:    appear 0.5s 1 ease-out; /* Fx 5+ */
	-o-animation:      appear 0.5s 1 ease-out; /* Opera 12+ */
	animation:         appear 0.5s 1 ease-out; /* IE 10+ */
  -webkit-animation-delay: 0.39s;
  cursor:pointer;
  vertical-align:top;
  z-index:10;
  text-align:center;

  img{
    vertical-align:middle;
    width:40px;
  }

  &:hover{
    -webkit-transform: scale(1.1, 1.1);
    border-bottom:2px solid blue;
  }

  &:active{
    -webkit-transform: scale(0.9, 0.9);
  }

  &.twitter{
    background-size:cover;
    -webkit-animation-delay: 0.125s;
  }

  &.instagram{
    background-size:cover;
    -webkit-animation-delay: 0.25s;
  }

  &.ngu{
  }
}

.content-wrapper{
  vertical-align:middle;
  text-align:center;
  display:inline-block;
  max-width: 960px;
  background:rgba(#000, 0.7);
  -webkit-transition: 150ms all ease-out;
  -moz-transition: 150ms all ease-out;
  transition: 150ms al ease-out;


}

.vertical-align{
  height:100%;
  display:inline-block;
  width:0px;
  vertical-align:middle;
}

h1, h2{
  color:white;
  text-shadow:0px 0px 10px #000;
  font-weight:100;
}

h2{
  font-size:14pt;
  line-height:14pt;

}

h1{
  font-size:32pt;
  line-height:32pt;
}

.profile{
  background:image_url('profile.jpg');
  background-size:cover;
  -webkit-animation-delay: 0s;
  box-shadow:0px 10px 20px rgba(#000, 0.7);
  width:300px;
  height:300px;
  z-index:99;
  margin-bottom:20px;
  overflow:hidden;
  position:relative



  }

@media all and (max-width: 500px) {
  .content-wrapper{
    text-align:center;
  }

  .profile{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:288px !important;
    height:240px !important;
  }

  .twitter, .instagram, .ngu{
    width:80px;
    height:80px;
    margin:2px;
    img{
      width:40px;
    }
  }
}
